<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Thanks for taking the survey <%= @survey.name %></h1>
      
      <p>
		  
         Your survey has been submited into the contest and you wil be contacted if you win at <%= @survey.number %>
         <br>
      </p>
      
      <p>
        Queestion1: <%= @survey.question1 %><br>
		Queestion2: <%= @survey.question2 %><br>
		Queestion3: <%= @survey.question3 %><br>
		Queestion4: <%= @survey.question4 %><br>
		Queestion5: <%= @survey.question5 %><br>
		Queestion6: <%= @survey.question6 %><br>
		Queestion7: <%= @survey.question7 %><br>
		Queestion8: <%= @survey.question8 %><br>
		Queestion9: <%= @survey.question9 %><br>
		Queestion10: <%= @survey.question10 %><br>
		Queestion11: <%= @survey.question11 %><br>
		Queestion12: <%= @survey.question12 %><br>
		
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>
